.searchBox {
    margin-bottom: 50px;
    display: flex;
    height: 40px;
}
.searchInput {
    width: 300px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid rgb(88, 88, 88);
    border-radius: 17px;
    margin-right: 20px;
    &:focus {
        border: 1px solid rgb(130, 130, 130);
        background-color: rgb(255, 255, 255);
        outline: none !important;
    }
    &:hover {
        border: 2px solid rgb(130, 130, 130);
    }
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 17px;
    border: 1px solid rgb(88, 88, 88);
    background-color: rgb(217, 217, 217);
    cursor: pointer;
    transition: 300ms;
    &:hover {
        background-color: rgb(77, 208, 84);
        transition: 300ms;
    }
}
