.tableString {
    width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    div:not(:first-child) {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 85px;
        border: 1px solid;
        padding: 10px;
    }
}
.studentName {
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    padding: 10px;
}
