* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Ysabeau Infant", sans-serif;
}
.container {
    width: 1000px;
    margin-left: 0;
    margin-right: 0;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.error {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boxHome {
    margin-top: 200px;
    width: 800px;
    background-color: rgb(217, 217, 217);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}
.groupList {
    padding: 10px 10px 20px;
    width: 400px;
    border-right: 1px solid;
}
.subjectsList {
    padding: 10px 10px 20px;
    width: 400px;
}
.btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 10px;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(217, 217, 217);
    font-size: 18px;
    text-decoration: none;
    color: black;
    transition: 300ms;
}

.btn:hover {
    background-color: rgb(77, 208, 84);
    transition: 300ms;
}
.btnError {
    margin-top: 20px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 10px;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(217, 217, 217);
    font-size: 18px;
    text-decoration: none;
    color: black;
    transition: 300ms;
}
.btnError:hover {
    background-color: rgb(77, 208, 84);
    transition: 300ms;
}
.info {
    text-align: center;
    font-size: 20px;
}
.boldText {
    font-weight: bold;
}
.homeLoadGroup {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homeLoad {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.jornalLoad {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
