.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 10px;
    cursor: pointer;
    transition: 300ms;
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    &:hover {
        background-color: rgb(238, 238, 238);
        transition: 300ms;
    }
}
.active {
    color: rgb(77, 208, 84);
    transition: 200ms;
}
